@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  background-color: #1e263a;
  color: #8f8e90;
}
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

#forms{
  position: sticky;
  margin-left: 120px;
}

#mainlabel{
  font-size: 40px;
}

#historylabel{
  position: absolute;
  top: 310px;
  right: 120px;
}

#fieldslabel{
  margin-left: 90px;
  margin-top: 100px;
}

#study, #break{
  text-align: center;
  width: 140px;
  margin-left:20px;
  margin-top:20px;
  background-color: black;
  color: #8f8e90;
  border-style: solid;
  border-radius: 3px;
  border-color: #8f8e90;
}

#buttons{
  margin-left: 85px;
}

#time {
  position: relative;
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 140px;
}

button {
  width: 100px;
  background-color: black;
  color: #8f8e90;
  margin-top: 10px;
  margin-left: 5px;
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #8f8e90;
  color: black;
}
