@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  background-color: #1e263a;
  color: #8f8e90;
}

p {
  text-align: center;
  font-size: 60px;
}

#forms{
  text-align: center;
}

#mainlabel{
  font-size: 40px;
}

#fieldslabel{
  text-align: center;
}

#study, #break{
  text-align: center;
  width: 140px;
  margin-left:20px;
  margin-top:10px;
  background-color: black;
  color: #8f8e90;
  border-style: solid;
  border-radius: 3px;
  border-color: #8f8e90;
}

#buttons{
  text-align: center;
}

#time {
  position: relative;
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 140px;
}

button {
  width: 100px;
  background-color: black;
  color: #8f8e90;
  margin-top: 10px;
  margin-left: 5px;
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #8f8e90;
  color: black;
}
